@model List<Aula1AspNetMVC.Models.Cliente>
@{
    ViewBag.Title = "ListaClientes";
}

<h2>ListaClientes</h2>

@foreach(var cliente in Model)
{
    <li>@Html.DisplayFor(model => cliente.Nome) @Html.DisplayFor(model => cliente.Sobrenome)</li>
}

@section scripts  <!-- Definido em _Layout.cshtml em: RenderSection("scripts", required: false)  -->
{
    <script>
        $(document).ready(function () {
            $("li").click(function () {
                $(this).hide();
            });
        });
    </script>
}

